*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    background: #ffffff;
    border-bottom: 20px;
}

header{
    background: #ffffff;
    margin-bottom: 3rem;
}

header img{
    height: 4.5rem;
    width: 100%;
}

.headerimg{
    background: #ffffff;
}

.content {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    grid-gap: 3rem;
    display: grid;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,50rem) minmax(0,50rem) minmax(0,50rem);
    padding-left: 1rem;
    padding-right: 1rem;
    color: rgb(0, 0, 0);
}

.sidebar{
    width: 100%;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.anchors{
    width: 100%;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.cardImage {
    display: flex;
    width: 100%;
    height: 15rem;
    margin: 1rem;
    border-radius: 5%;
    transition: transform 0.3s ease; /* Transição suave */
    text-decoration: none;
}

.cardImage:hover {
    transform: scale(1.05); /* Aplica zoom uniforme */
    z-index: 1; /* Eleva o card em relação aos outros */
}

.cardImage h2 {
    font-size: 1rem; /* Ajuste para o tamanho desejado */
    margin: 5px; /* Remove qualquer margem adicional (opcional) */
    color: black;
    font-weight: 600;
}

.cardImage a {
    text-decoration: none;
}

button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    cursor: pointer;
    background: rgb(58,179,180);
    background: linear-gradient(153deg, rgba(58,179,180,1) 0%, rgba(29,33,253,1) 50%, rgba(121,69,252,1) 100%);
    opacity: 0.9;
    border: none;
    text-decoration: none;
}
  
button:hover {
    opacity: 3;
    background: rgb(58,179,180);
    background: linear-gradient(153deg, rgba(121,69,252,1) 0%, rgba(29,33,253,1) 50%, rgba(58,179,180,1)  100%);
}


#footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    background: rgb(58,179,180);
    background: linear-gradient(153deg, rgba(121,69,252,1) 0%, rgba(29,33,253,1) 50%, rgba(58,179,180,1)  100%);
	color: #ffffff;
	padding: 16px;
    align-items: center;
}

p{
    color: rgb(202, 200, 200);
    font-size: 0.7rem;
}

.list-inline {
    display: flex;
    gap: 32px;
    height: 62px;
}
.list-inline>li>a>i {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    p{
        font-size: 0.5rem;
    }
    h2 {
        font-size: 0.8rem;
    }
  }
  
  @media (max-width: 420px) {
    p{
        font-size: 0.5rem;
    }
    h2 {
        font-size: 0.7rem;
    }
  }